    
{% load wagtailcore_tags  wagtailimages_tags %}

<div id="addTool" class="col-lg-2">
     <h4> <a href="/">MerchPro <span class="glyphicon glyphicon-plus"></span></a></h4>
     
     <span class="tooltiptext"><small>Add New Resource</small>
</div>
<div id="toolBox" class="col-lg-10">
                    {% for tool in tools %}              
                      <div class="tooltips contentBlock"><!--instead of card-->
                      {% image tool.icon fill-45x45 as image %}
                                <img src="{{ image.url }}" width="{{ image.width }}"
                                height="{{ image.height }}" alt="{{ image.alt }}" class="" />
                        <span class="tooltiptext">{{ tool.title }}</span>
                      </div>
                    {% endfor %}

</div>