    
{% load wagtailcore_tags  wagtailimages_tags %}

<div class="tooltips col-lg-2">
     <h1> <a href="/">MerchPro</a> 
     </h1>
     <span class="glyphicon glyphicon-plus"></span>
     <span class="tooltiptext"><small>Add New Resource</small>
</div>
<div class="col-lg-10">
                    {% for tool in tools %}              
                      <div class="tooltips contentBlock"><!--instead of card-->
                      {% image tool.icon fill-70x70 as image %}
                                <img src="{{ image.url }}" width="{{ image.width }}"
                                height="{{ image.height }}" alt="{{ image.alt }}" class="" />
                        <span class="tooltiptext">{{ tool.title }}</span>
                      </div>
                    {% endfor %}

</div>