{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags micons_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}


<main class="main container-fluid">
	
<!--	<div class="homePageBanner col-md-12">
			
				<div id="feature-product">
					<div id="featureToggle" class="bottomToggle feature-product">
						<div class="openToggle">
						</div>	
					</div>
						<img class="feature-product" src="https://www3.lenovo.com/medias/lenovo-laptop-yoga-920-hero.png?context=bWFzdGVyfHJvb3R8NjE3NTN8aW1hZ2UvcG5nfGgzYy9oZDQvOTU2ODI3NDEyMDczNC5wbmd8MzYzM2Q0OWYwNzRkOTVmNWIyNGRlMjQ1MWNjYzVmY2NiMWMyZmU2Yjg4MmFmMzZlOGFkOTZhMmZlNDExYmFlYg">
					</div>
					<h1 class="homepageHeading"> {{ self.title }} || <small class="homepageSubHeading">Welcome to your new Wagtail site!</small></h1>
	</div>
-->
</main>

<main class="container container-fluid">
<div class="row">
	<div class="container container-fluid">
	<div class="posts container container-fluid col-md-9">
	<h2> Merchandising Updates </h2>
	<section id="tagBox" "container container-fluid">
		<span class="tags">Thunderbolt 3</span>
		<span class="tags">4K Display</span>
		<span class="tags">Clearance</span>
		<span class="tags">Glass</span>
		<span class="tags">Nvidia GPU</span>
		<span class="tags">AMD GPU</span>
		<span class="tags">Touch</span>
		<span class="tags">Thunderbolt 3</span>
		<span class="tags">Thunderbolt 3</span>
		<span class="tags">Thunderbolt 3</span>
		<span class="tags">Thunderbolt 3</span>
		<span class="tags">Thunderbolt 3</span>
		<span class="tags">Thunderbolt 3</span>
		<span class="tags">Thunderbolt 3</span>
	</section>
	
		<section data-content="Ipsum Delorum Caption..." id="postid" class="post image">
			<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
			<div class="postDate">
				<em>January 4th, 2018</em>
			</div>
			<div class="panel-body">
				<p>
					00

				</p>
			</div>
			<div class="bottomToggle">
				<div class="openToggle">
				</div>	
			</div>
		
		</section>
		
<section data-content="Ipsum Delorum Text Text" id="postid" class="post image">
			<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
			<div class="postDate">
				<em>January 4th, 2018</em>
			</div>
			<div class="panel-body">
				<p>
					00

				</p>
			</div>
			<div class="bottomToggle">
				<div class="openToggle">
			</div>	
			</div>
		</section>
		
	<section data-content="Ipsum Delorum words words" id="postid" class="post image">
			<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
			<div class="postDate">
				<em>January 4th, 2018</em>
			</div>
			<div class="panel-body">
				<p>
					00

				</p>
			</div>
			<div class="bottomToggle">
				<div class="openToggle">
				</div>	
			</div>
		</section>
		
		<section data-content="text text text" id="postid" class="post image">
			<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
			<div class="postDate">
				<em>January 4th, 2018</em>
			</div>
			<div class="panel-body">
				<p>
					00

				</p>
			</div>
			<div class="bottomToggle">
				<div class="openToggle">
				</div>	
			</div>
		</section>
	</div>		
		
	<div class="productUpdates col-md-3">
	<h2>Product Updates</h2>
				<section id="postid" class="update">

			<div class="panel-body">
				<p>
					00

				</p>
			</div>
					<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
		</section>
				<section id="postid" class="update">

			<div class="panel-body">
				<p>
					00

				</p>
			</div>
					<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
		</section>
	</div>
		
	</div>

	
</div>
				    {% skus %}
				   


				    <p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).</p>
					<br />
					<br />
					<h2></h2>
					{{ page.body|richtext }}
					
					
					    
	
					

				    <p>If you haven't already given the documentation a read, head over to <a href="http://docs.wagtail.io/">http://docs.wagtail.io</a> to start building on Wagtail</p>

	</main>
{% endblock %}
