{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags micons_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}


<main class="container-fluid">
	
	<div class="homePageBanner col-md-12">

					<h1 class="homepageHeading"> The Brief <small class="homepageSubHeading">Welcome to your new Wagtail site!</small></h1>
	</div>


<div class="row">
	<div class="container container-fluid">
	<div class="posts container container-fluid col-md-9">
	<h2> Merchandising Updates </h2>
		<section id="postid" class="post">
			<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
			<div class="panel-body">
				<p>
					00

				</p>
			</div>
			<div class="bottomToggle">
				<div class="openToggle">
				</div>	
			</div>
		
		</section>
		
<section id="postid" class="post">
			<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
			<div class="panel-body">
				<p>
					00

				</p>
			</div>
			<div class="bottomToggle">
				<div class="openToggle">
			</div>	
			</div>
		</section>
		
<section id="postid" class="post">
			<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
			<div class="panel-body">
				<p>
					00

				</p>
			</div>
			<div class="bottomToggle">
				<div class="openToggle">
				</div>	
			</div>
		</section>
		
		<section id="postid" class="post">

			<div class="panel-body">
				<p>
					00

				</p>
			</div>
					<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
			<div class="bottomToggle">
				<div class="openToggle">
				</div>	
			</div>
		</section>
	</div>		
		
	<div class="productUpdates col-md-3">
	<h2>Product Updates</h2>
				<section id="postid" class="update">

			<div class="panel-body">
				<p>
					00

				</p>
			</div>
					<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
		</section>
				<section id="postid" class="update">

			<div class="panel-body">
				<p>
					00

				</p>
			</div>
					<div class="postHeading panel-heading">
				<h3> Crystal Points </h3>
			</div>
		</section>
	</div>
		
	</div>

	
</div>
				    {% skus %}
				   


				    <p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).</p>
					<br />
					<br />
					<h2>{{ self.title }}</h2>
					{{ page.body|richtext }}
					
					{% for page in self.get_children.specific %}
					    <a href="{{ page.url }}">{{ page.title }}</a>
	
					{% endfor %}

				    <p>If you haven't already given the documentation a read, head over to <a href="http://docs.wagtail.io/">http://docs.wagtail.io</a> to start building on Wagtail</p>

	</main>
{% endblock %}
